doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.middleContainer(style="justify-content: center")
      a(href='/')
        p#logo.mainText.info MaszynaNaDzień
      if isLoggedIn
        if isAdmin
          a(href=`/admin/users`)
            p.mainText.info Użytkownicy
        else
          a(href=`/users/${userId}`)
            p.mainText.info Profil Użytkownika
      else
        a(href='/login')
          p.mainText.info Zaloguj Się
      if isAdmin
        a(href='/admin/machines')
          p.mainText.info Maszyny
      else
        a(href='/machines')
          p.mainText.info Dostepne Maszyny
      a(href='/reservations')
        p.mainText.info Aktualne Rezerwacje



