doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.middleContainer
      a(href='/')
        p#logo.mainText MaszynaNaDzień
      a(href='/users/login')
        p.mainText Zaloguj Się
      a(href='/machines')
        p.mainText Dostepne Maszyny
      a(href='/reservations')
        p.mainText Aktualne Rezerwacje



