doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.middleContainer(style="justify-content: center")
      a(href='/')
        p#logo.mainText.info MaszynaNaDzień
      a(href='/login')
        p.mainText.info Zaloguj Się
      a(href='/machines')
        p.mainText.info Dostepne Maszyny
      a(href='/reservations')
        p.mainText.info Aktualne Rezerwacje



