doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/forms.css')
  body
    div(style="margin-top: -150px").middleContainer
      a(href='/')
        p#logo.mainText MaszynaNaDzień
      block content
