extends middleLogoLayout

block content
    div.container.loginContainer
        h3.info.text-md Rejestracja
        if errors && errors.length > 0
            each error in errors
                p.danger #{error.msg}

        form(method="POST" action="/register").loginForm
            div.labelInputWrapper
                label(for="email") Email:
                input#email(type="text" name="email" required)
            div.labelInputWrapper
                label(for="password") Hasło:
                input#password(type="password" name="password" required)

            button(type="submit").formButton Zarejestruj się
            a(href='/login').additionalInfo Masz już konto? Zaloguj się!