.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.grid-item{
    display: grid;
    border: 2px solid var(--border-color);
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}

.machine-item{
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    max-width: 350px;
}

.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.machine-type{
    grid-row: 1;
    font-weight: 500;
    border-right: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

.rowspan2{
    grid-row: span 2;
    border-bottom:none;
}

.machine-reserve{
    grid-row: 2;
    border-right: 2px solid var(--border-color);
}

.machine-name {
    grid-column: 2;
    padding: 20px;
    border-bottom: 2px solid var(--border-color);
}

.machine-description {
    grid-column: 2;
    padding: 20px;
}

.reservation-item{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 500px;
    font-size: 1em;
}

.reservation_date_from{
    grid-row: 1 / 2;
    font-weight: 500;
    font-size: 0.9em;
    padding: 10px;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

.reservation_date_to{
    grid-row: 2 / 3;
    font-weight: 500;
    font-size: 0.9em;
    padding: 10px;
    border-right: 2px solid var(--border-color);
}

.reservation_machine_type{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-weight: 500;
    border-right: 2px solid var(--border-color);
    border-bottom: 2px solid var(--border-color);
}

.reservation_who{
    grid-column: 2 / 4;
    padding: 10px;
}

.reservation_machine{
    padding: 10px;
    border-bottom: 2px solid var(--border-color);
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap:20px;
}

.two-span{
    grid-column: span 2;
}