@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-color: #D9D9D9;
  --secondary-color: #3d3d4b;
  --text-color: #0B0A0A;
  --border-color: #010101;
  --danger-color: #A6191B;
  --green-color: #047015;
  --table-row-color: rgba(171, 170, 170, 0.78);
}

html{
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background: linear-gradient(-125deg, #9EB9E4 50%, #5577AC 100%);
}

.middleContainer{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap:1em;
  align-items: center;
  max-height: 100%;
  overflow: auto;
}

.danger{
  color: var(--danger-color);
  font-weight: 500;
}

.container {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 2px solid var(--border-color);
  padding: 20px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
}

.loginContainer {
  width: min(80%, 500px);
  padding: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

a{
  text-decoration: none;
  color: inherit;
}

#logo{
  font-family: 'Kalam', cursive;
}

.info{
  letter-spacing: 0.1em;
  text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);
}

.text-lg{
  font-size: 2rem;
  font-weight: 500;
}

.text-md{
  font-size: 1.5rem;
}

.text-sm{
  font-size: 1rem;
}

.text-green{
  color: var(--green-color);
}

.text-bold{
  font-weight: 500;
}

.mainText{
  font-size: 2.5rem;
  letter-spacing: 0.2em;
}

.reserveContainers{
  margin-top: 100px;
  gap:20px;
  display: flex;
  justify-content: center;
}

.reserveContainer{
  flex: 1;
  max-width: 500px;
}

.reserveContainer p {
  text-align: center;
}

.w100{
  width: 100%;
}

.w80{
  width: 80%;
}

.inverseColor{
  background-color: var(--table-row-color);
}

.listBlock{
  display: flex;
  justify-content: center;
}

